
 pre.c2html                 { color: #111; background: #FFF; }

 pre.c2html  span.comment   { color: #292; }

 pre.c2html  span.str       { color: #292; font-weight: bold; }
 pre.c2html  span.chr       { color: #292; font-weight: bold; }

 pre.c2html  span.ifndef    { color: #628; font-weight: bold; }
 pre.c2html  span.ifdef     { color: #628; font-weight: bold; }
 pre.c2html  span.endif     { color: #628; font-weight: bold; }
 pre.c2html  span.defined   { color: #628; font-weight: bold; }
 pre.c2html  span.define    { color: #628; font-weight: bold; }
 pre.c2html  span.include   { color: #628; font-weight: bold; }

 pre.c2html  span.if        { color: #44F; }
 pre.c2html  span.else      { color: #44F; }
 pre.c2html  span.while     { color: #44F; }
 pre.c2html  span.for       { color: #44F; }
 pre.c2html  span.return    { color: #628; }
 pre.c2html  span.switch    { color: #44F; }
 pre.c2html  span.case      { color: #44F; }
 pre.c2html  span.default   { color: #44F; }
 pre.c2html  span.goto      { color: #628; font-weight: bold; }

 pre.c2html  span.int       { color: #628; }
 pre.c2html  span.char      { color: #628; }
 pre.c2html  span.float     { color: #628; }
 pre.c2html  span.double    { color: #628; }
 pre.c2html  span.void      { color: #628; }
 pre.c2html  span.const     { color: #628; }
 pre.c2html  span.unsigned  { color: #628; }
 pre.c2html  span.static    { color: #628; }

 pre.c2html  span.vstrbase  { color: #44F; font-weight: bold; }
 pre.c2html  span.pollfd    { color: #44F; font-weight: bold; }

 pre.c2html  span.exit      { color: #628; }
 pre.c2html  span.err       { color: #F22; font-weight: bold; }
 pre.c2html  span.warn      { color: #F22; }
